*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-nav{
   position: absolute;
   left: 69rem;
}

.navbar-nav li{
    font-size: 20px;
}

.navbar-nav li{
    margin-left: 20px;
}

#footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    border: 2px solid gray;
    padding: 5px;
    text-align: center;
}